@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

body {
    background-color: black
}

main {
    background-color: bisque;

    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;

    padding-top: 20px;
    padding-right: 20px;

    height: 940px;
    width: 1200px;
}

section {
    background-color: brown;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;

    border-color: black;
    border-style: groove;
    border-width: 5px;
}

h1 {
    color: brown;
    font-size: 50px;
    font-family: "Dancing Script";
    margin-left: 30px;
}

h2 {
    text-decoration: underline;
    color: whitesmoke;
    font-size: 25px;
    font-family: "Dancing Script";
}

p {
    color: whitesmoke;
}

.popular {
    color: blue;
}